<web-app version="6.0"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>krzysztof.pecyna.eventsViewer.configuration.listner.CreateDataSource</listener-class>
	</listener>
	<listener>
		<listener-class>krzysztof.pecyna.eventsViewer.configuration.listner.CreateServices</listener-class>
	</listener>
	<listener>
		<listener-class>krzysztof.pecyna.eventsViewer.configuration.listner.CreateControllers</listener-class>
	</listener>
	<listener>
		<listener-class>krzysztof.pecyna.eventsViewer.configuration.listner.InitializedData</listener-class>
	</listener>

	<context-param>
		<param-name>avatarsDirectoryPath</param-name>
		<param-value>avatars</param-value>
	</context-param>

</web-app>